# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtual env
.venv/
venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit / cache
.streamlit/
.cache/

# Jupyter
.ipynb_checkpoints/

# Your project artifacts
.history/
results/
outputs/
*.log